In [1]:
#read files
import pandas as pd
all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv("recent-grads.csv")
print(all_ages.head(5))
print(recent_grads.head(5))

   Major_code                                  Major  \
0        1100                    GENERAL AGRICULTURE
1        1101  AGRICULTURE PRODUCTION AND MANAGEMENT
2        1102                 AGRICULTURAL ECONOMICS
3        1103                        ANIMAL SCIENCES
4        1104                           FOOD SCIENCE

                    Major_category   Total  Employed  \
0  Agriculture & Natural Resources  128148     90245
1  Agriculture & Natural Resources   95326     76865
2  Agriculture & Natural Resources   33955     26321
3  Agriculture & Natural Resources  103549     81177
4  Agriculture & Natural Resources   24280     17281

   Employed_full_time_year_round  Unemployed  Unemployment_rate  Median  \
0                          74078        2423           0.026147   50000
1                          64240        2266           0.028636   54000
2                          22810         821           0.030248   63000
3                          64937        3619           0.042679   46000
4                          12722         894           0.049188   62000

   P25th    P75th
0  34000  80000.0
1  36000  80000.0
2  40000  98000.0
3  30000  72000.0
4  38500  90000.0
   Rank  Major_code                                      Major Major_category  \
0     1        2419                      PETROLEUM ENGINEERING    Engineering
1     2        2416             MINING AND MINERAL ENGINEERING    Engineering
2     3        2415                  METALLURGICAL ENGINEERING    Engineering
3     4        2417  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4     5        2405                       CHEMICAL ENGINEERING    Engineering

   Total  Sample_size    Men  Women  ShareWomen  Employed      ...        \
0   2339           36   2057    282    0.120564      1976      ...
1    756            7    679     77    0.101852       640      ...
2    856            3    725    131    0.153037       648      ...
3   1258           16   1123    135    0.107313       758      ...
4  32260          289  21239  11021    0.341631     25694      ...

   Part_time  Full_time_year_round  Unemployed  Unemployment_rate  Median  \
0        270                  1207          37           0.018381  110000
1        170                   388          85           0.117241   75000
2        133                   340          16           0.024096   73000
3        150                   692          40           0.050125   70000
4       5180                 16697        1672           0.061098   65000

   P25th   P75th  College_jobs  Non_college_jobs  Low_wage_jobs
0  95000  125000          1534               364            193
1  55000   90000           350               257             50
2  50000  105000           456               176              0
3  43000   80000           529               102              0
4  50000   75000         18314              4440            972

[5 rows x 21 columns]

In [2]:
#summarize categories
print(all_ages['Major_category'].unique())

['Agriculture & Natural Resources' 'Biology & Life Science' 'Engineering'
 'Humanities & Liberal Arts' 'Communications & Journalism'
 'Computers & Mathematics' 'Industrial Arts & Consumer Services'
 'Education' 'Law & Public Policy' 'Interdisciplinary' 'Health'
 'Social Science' 'Physical Sciences' 'Psychology & Social Work' 'Arts'
 'Business']

In [3]:
#for the counts from all_ages, store the results as a dictionary named aa_cat_counts
#for the counts from recent_grads, store the results as a dictionary named rg_cat_counts
aa_cat_counts = dict()
rg_cat_counts = dict()
def calculate_major_cat_totals(df):
    cats = df['Major_category'].unique()
    counts_dictionary = dict()

    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum()
        counts_dictionary[c] = total
    return counts_dictionary

In [4]:
aa_cat_counts = calculate_major_cat_totals(all_ages)
rg_cat_counts = calculate_major_cat_totals(recent_grads)

In [5]:
low_wage_percent = 0.0
low_wage_jobs_sum = recent_grads['Low_wage_jobs'].sum()
recent_grads_sum = recent_grads['Total'].sum()
low_wage_percent = low_wage_jobs_sum / recent_grads_sum
print(low_wage_percent)

0.09852546076122913

In [6]:
# All majors, common to both DataFrames
majors = recent_grads['Major'].unique()
rg_lower_count = 0
for m in majors:
    recent_grads_row = recent_grads[recent_grads['Major'] == m]
    all_ages_row = all_ages[all_ages['Major'] == m]
    
    rg_unemp_rate = recent_grads_row.iloc[0]['Unemployment_rate']
    aa_unemp_rate = all_ages_row.iloc[0]['Unemployment_rate']
    
    if rg_unemp_rate < aa_unemp_rate:
        rg_lower_count += 1

print(rg_lower_count)

43

In [7]:
# Thus, 43/173 recent graduates had lower unemployment rates than others